.level_0 {
  width: 100vw;
  height: 100vh;
  background: $darkGreen; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $darkGreen, $lightGreen); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $darkGreen, $lightGreen); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.level_0 .abs-center.title {
  top: 20vh;
}

.level_0 .abs-center.title h1 {
  font-size: 4.2em;
  letter-spacing: 7px;
  margin: .4em 0;
  font-weight: 200;
}

.level_0 .abs-center.title span {
  opacity: 0;
  color: $textColor;
}

.level_0 .abs-center.title span.show {
  opacity: 0.9;
}

.level_0 .abs-center.title span.s {
  color: $highlight;
}

.level_0 .abs-center.title span.ux {
  margin-left: 0px;
}

.level_0 .abs-center.title span.ux.margin {
  margin-left: 48px;
}

.level_0 .abs-center.title span.ux.no-margin {
  margin-left: 0px;
}

.level_0 p {
  opacity: 0;
  font-family: $titleFont;
  color: $textColor;
  font-size: 0.9em;
  letter-spacing: 2px;
  width: 500px;
  margin: 0 auto;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition:    all 0.6s ease-out;
  -o-transition:      all 0.6s ease-out;
  transition:         all 0.6s ease-out;
}

@media screen and (max-width: 500px) {
  .level_0 p {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}

.level_0 p.show {
  opacity: 0.8;
}
